# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

strict_env

export DEVBOX_NO_ENVRC_UPDATE=1

eval "$(devbox generate direnv --print-envrc)"
# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

dotenv_if_exists .env
dotenv_if_exists .env.local

source_env_if_exists .envrc.local

env_vars_required LINODE_TOKEN
env_vars_required LINODE_REGION
env_vars_required LINODE_CONTROL_PLANE_MACHINE_TYPE
env_vars_required LINODE_MACHINE_TYPE

# Fetch and set up kubeconfig
export KUBECONFIG="${PWD}/kubeconfig"

# set PUBLIC_SSH_KEY based on user's default ssh public key using ssh-add -L
export PUBLIC_SSH_KEY=$(ssh-add -L | head -n 1)
